<div class="table-responsive">
<table class="table table-striped"  summary="Information about following/followers">
  <tr>
    <td class="active">
      <h3><%= @title %></h3>

      <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
     <% end %>
    </td>
    <td class="">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <% @users.each do |user| %>
          <%= link_to image_tag(user.avatar.url(:thumb)), user %>
              <% end %>
      <% end %>
    </td>
  </tr>

</table>
    </div>